# 데이터는 git에서 제외
src/data/raw
!data/features/
!data/processed/fire_weather_merged.csv
!data/processed/fire_weather_merged.parquet

# raw 데이터 전체 제외(용량 큼)
data/raw/**

# shapefile 별도 제외
*.shp
*.shx
*.dbf
*.prj
*.cpg

# 파케/CSV 원본 제외
*.parquet
*.csv

# Jupyter 체크포인트
.ipynb_checkpoints/

# PyCharm / IntelliJ 설정
.idea/

# OS 파일
.DS_Store
Thumbs.db
